/*
Together-1
 */
body {
    background: #b3b3b3;
    font-size: 125%;
    margin: 3%;
}

header {
    background: #007faa;
    text-align: center;
    padding: 15px;
}

h1 {
    color: #ffffff;
}

section {
    width: 30%;
    display: inline-block;
    float: left;
    margin-right: 2%;
}

nav {
    font-variant: small-caps;
    font-family: Arial, "Times New Roman", serif;
    font-size: 150%;
}

h2 {
    color: #666666;
    background: #44a2e0;
}

summary {
    font-style: normal;
}

details {
    font-style: italic;
}

footer {
    background: #48b2b9;
    clear: both;
}

img {
    width: 125px;
    background-color: #007faa;
}
